footer#footer.container-fluid
	.row.form-row: .container: .row
		.col-xs-12.col-sm-7
			p.title Hacenos tu consulta!

			form(method='POST', action='http://e-s.herokuapp.com/form?redir=/gracias')
				//- Para despertar a la app en Heroku
				img.hide(src='http://e-s.herokuapp.com/ping')

				input(type='hidden', name='to', value='hola@elgorriondeparis.com.ar')
				input(type='hidden', name='token', value='eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJFYWFTIiwic3ViIjoiaG9sYUBlbGdvcnJpb25kZXBhcmlzLmNvbS5hciJ9.1bAQda9Ti3UgOFKnZsVduV10UuC3IaE7HwHbpyzS79k')
				input(type='hidden', name='subject', value='Nuevo contacto')
				//- Incluye la url de la pagina actual en un campo escondido
				input(type='hidden', name='page', value=url)

				fieldset.row
					label.col-xs-6 
						input.form-control(type='text', name='name', placeholder='Nombre')
					label.col-xs-6 
						input.form-control(type='email', name='from', placeholder='E-mail')
				fieldset.row
					label.col-xs-12
						textarea.form-control(name='message', rows=4, placeholder='Mensaje')
				fieldset.row
					label.newsletter-label.col-xs-6
						input(type='checkbox', name='newsletter')
						| &nbsp;Inscribirme al newsletter
					.col-xs-6
						input#submit(type='image' src='/img/btn-enviar.png')

		.col-xs-5.hidden-xs
			#discount
				p.month= currentMonth()
				p 20% de
				p descuento

	.row.bottom-row: .col-xs-12
		| Llamanos al 
		a(href='tel:+541148317537') (11) 4831-7537 
		| * Escribinos a 
		a(href='mailto:hola@elgorriondeparis.com.ar') hola@elgorriondeparis.com.ar 
		| * Seguínos en &nbsp;
		a.facebook(title='Facebook', href='https://www.facebook.com/elgorriondeparis', target='_blank')
			i.fa.fa-facebook-square