mixin sidebarlink(obj)
	//- Poner clase selected si la url del link coincide con la de la pagina
	-var included = latinize(url).indexOf(latinize(obj.url)) === 0
	li(class=included ? 'selected' : '')
		a(href=obj.url, class=attributes.class)= obj.name
		block

.col-xs-3
	nav#sidebar
		ul

			//- Por cada evento
			each event in events()
				//- Si es un evento, agregar las clases CSS para las barritas
				+sidebarlink(event).barrita(class=event.id)
					
					.wrapper
						ul.products
							//- Por cada producto de este evento
							each product in event.items()
								+sidebarlink(product)