extends base/base

block prepend title
	- title = 'Contactanos'
	- description = 'Contacta a el gorrión de París'

block content
	#contact.container
		.row
			.col-lg-12
				h1.page-header Contactanos
					small &nbsp;pedí tu presupuesto
		.row
			.col-sm-8
				if (name)
					.alert.alert-success
						| Gracias por contactarnos&nbsp;
						= name.split(' ').shift()
						| !
				else
					form(action='/contactanos', method='POST', role='form')
						.row
							.form-group.col-lg-4.required
								label.control-label(for='name') Nombre*
								input#name.form-control(type='text', name='name')
							.form-group.col-lg-4.required
								label.control-label(for='email') Email*
								input#email.form-control(type='email', name='email')
							.form-group.col-lg-4
								label.control-label(for='phone') Teléfono
								input#phone.form-control(type='phone', name='phone')
							.clearfix
							.form-group.col-lg-12.required
								label.control-label(for='message') Mensaje*
								textarea#message.form-control(rows='6', name='message')
							.form-group.col-lg-12
								input(type='hidden', name='product', value=product)
								button.btn.btn-default(type='submit') Enviar
			.col-sm-4
				h3 El gorrión de París
				p
					i.fa.fa-phone
					| &nbsp;4831-7537
				p
					i.fa.fa-envelope-o
					| 
					a(href='mailto:hola@elgorriondeparis.com.ar') hola@elgorriondeparis.com.ar
				br
				ul.list-unstyled.list-inline.list-social-icons
					li.tooltip-social.facebook-link
						a(title='Facebook', href='https://www.facebook.com/elgorriondeparis', target='_blank')
							i.fa.fa-facebook-square.fa-2x
					li.tooltip-social.pinterest-link
						a(title='Pinterest', href='http://www.pinterest.com/elgorriondeparis/', target='_blank')
							i.fa.fa-pinterest-square.fa-2x
					li.tooltip-social.google-plus-link
						a(title='Google+', href='https://plus.google.com/116938248160540138995', target='_blank')
							i.fa.fa-google-plus-square.fa-2x


