extends base/base

block prepend title
	- title = 'Semana de la dulzura'
	- description = 'Acompa침치 tus regalitos con estas dulces notitas'

block content
	#download.container
		a(href='/descargar-semana-de-la-dulzura')
			+image('el-gorrion-de-paris_semana-de-la-dulzura-descargar', 'Acompa침치 tus regalitos con estas dulces notitas')(class='download')
