extends base/base

block prepend title
	- title = 'Inicio'
	- description = 'Diseño para eventos'

block content
	#home.container

		// SLIDESHOW

		.row.carousel-holder
			.col-md-12
				#slideshow.carousel.slide(data-ride='carousel')
					ol.carousel-indicators
						li.active(data-target='#slideshow', data-slide-to='0')
						li(data-target='#slideshow', data-slide-to='1')
						li(data-target='#slideshow', data-slide-to='2')
					.carousel-inner
						.item.active
							img.slide-image(src='http://placehold.it/800x300')
						.item
							img.slide-image(src='http://placehold.it/800x300')
						.item
							img.slide-image(src='http://placehold.it/800x300')
					a.left.carousel-control(href='#slideshow', data-slide='prev')
						span.glyphicon.glyphicon-chevron-left
					a.right.carousel-control(href='#slideshow', data-slide='next')
						span.glyphicon.glyphicon-chevron-right
		
		// EVENTS

		h2 Encontrá en tu evento: Invitaciones - Souvenirs - Decoración - Candy Bar

		ul.row.logos
			li.col-sm-4
				a(href='/eventos/ABCDEF')
					img.rounded(src='http://placehold.it/250x250')
					h3 Casamientos

			li.col-sm-4
				a(href='/eventos/ABCDEF')
					img.rounded(src='http://placehold.it/250x250')
					h3 Casamientos
					
			li.col-sm-4
				a(href='/eventos/ABCDEF')
					img.rounded(src='http://placehold.it/250x250')
					h3 Casamientos
					
			li.col-sm-4
				a(href='/eventos/ABCDEF')
					img.rounded(src='http://placehold.it/250x250')
					h3 Casamientos
					
			li.col-sm-4
				a(href='/eventos/ABCDEF')
					img.rounded(src='http://placehold.it/250x250')
					h3 Casamientos
					
			li.col-sm-4
				a(href='/eventos/ABCDEF')
					img.rounded(src='http://placehold.it/250x250')
					h3 Casamientos

		// PRODUCTS

		h2 Enamorate de nuestros productos 100% personalizados

		ul.row.logos
			li.col-sm-4
				a(href='/eventos/ABCDEF/VWXYZ')
					img.rounded(src='http://placehold.it/250x250')
					p Invitaciones
					h3 Casamientos

			li.col-sm-4
				a(href='/eventos/ABCDEF/VWXYZ')
					img.rounded(src='http://placehold.it/250x250')
					p Invitaciones
					h3 Casamientos
					
			li.col-sm-4
				a(href='/eventos/ABCDEF/VWXYZ')
					img.rounded(src='http://placehold.it/250x250')
					p Invitaciones
					h3 Casamientos
