extends base/base

block prepend title
	- title = 'Inicio'
	- description = 'Diseño para eventos'

block content
	#home.container

		// SLIDESHOW

		.row.carousel-holder
			.col-md-12
				#slideshow.carousel.slide(data-ride='carousel')
					ol.carousel-indicators
						li.active(data-target='#slideshow', data-slide-to='0')
						li(data-target='#slideshow', data-slide-to='1')
						li(data-target='#slideshow', data-slide-to='2')
						li(data-target='#slideshow', data-slide-to='3')
						li(data-target='#slideshow', data-slide-to='4')
					.carousel-inner
						.item.active
							img.slide-image(src="/img/banner1.jpg")
						.item
							img.slide-image(src="/img/banner2.jpg")
						.item
							img.slide-image(src="/img/banner3.jpg")
						.item
							img.slide-image(src="/img/banner4.jpg")
						.item
							img.slide-image(src="/img/banner5.jpg")
					a.left.carousel-control(href='#slideshow', data-slide='prev')
						span.glyphicon.glyphicon-chevron-left
					a.right.carousel-control(href='#slideshow', data-slide='next')
						span.glyphicon.glyphicon-chevron-right
		
		// EVENTS

		h2.titulorosa Encontrá en tu evento: Invitaciones - Souvenirs - Decoración - Candy Bar

		ul.row.logos
			each event in events()
				li.col-sm-4
					a(href=event.url)
						img(src=event.thumb)
						h3.barrita(class=event.id)= event.name

		// PRODUCTS

		h2.tituloverde Enamorate de nuestros productos 100% personalizados

		ul.row.logos
			li.col-sm-4
				a(href='/eventos/casamientos/invitaciones')
					img(src='/catalogo/casamientos/invitaciones/thumb.jpg')
					p Invitaciones
					h3.barrita.casamientos Casamientos

			li.col-sm-4
				a(href='/eventos/cumple-infantil/souvenirs')
					img(src='/catalogo/cumple-infantil/souvenirs/thumb.jpg')
					p Souvenirs
					h3.barrita.cumple-infantil Cumple Chicos
					
			li.col-sm-4
				a(href='/eventos/bautismos/candybar')
					img(src='/catalogo/bautismos/candybar/thumb.jpg')
					p Candy Bar
					h3.barrita.bautismos Bautismo - 1º añito
