extends base/base

block prepend title
	- title = 'Landing'
	- description = 'El gorrión de París'

block content
	#home-logo
		+image('flor-izq')(class='flower left')
		+image('logo', 'El gorrión de París')
		+image('flor-der')(class='flower right')
	.section
		.container
			.row
				.col-lg-12.text-center
					h2 Conocé algunos de nuestros productos
					hr
				.col-lg-4.col-md-4.col-sm-6
					a(href='/catalogo/cumplean%CC%83os/colores', title='Colores')
						img.img-responsive.img-home-portfolio(src='/home/participaciones2.png?1')
				.col-lg-4.col-md-4.col-sm-6
					a(href='/catalogo/bodas/acuarelas', title='Acuarelas')
						img.img-responsive.img-home-portfolio(src='/home/participaciones.png?1')
				.col-lg-4.col-md-4.col-sm-6
					a(href='/catalogo/cumplean%CC%83os/conejitos', title='Conejitos')
						img.img-responsive.img-home-portfolio(src='/home/participaciones3.png?1')
				.col-lg-4.col-md-4.col-sm-6
					a(href='/catalogo/cumplean%CC%83os/colores', title='Colores')
						img.img-responsive.img-home-portfolio(src='/home/pinches.png?1')
				.col-lg-4.col-md-4.col-sm-6
					a(href='/catalogo/cumplean%CC%83os/pirata', title='Pirata')
						img.img-responsive.img-home-portfolio(src='/home/pinches2.png?1')
				.col-lg-4.col-md-4.col-sm-6
					a(href='/cosas-lindas/libros-de-firmas/sobrecitos', title='Sobrecitos')
						img.img-responsive.img-home-portfolio(src='/home/libro-de-firmas.png?1')

		#contact.container
			.row
				.col-lg-12
					h1.page-header Tengamos una reunión
				.row
				.col-sm-8
					form(action='/contactanos', method='POST', role='form')
						.row
							.form-group.col-lg-4.required
								label.control-label(for='name') Nombre*
								input#name.form-control(type='text', name='name')
							.form-group.col-lg-4.required
								label.control-label(for='email') Email*
								input#email.form-control(type='email', name='email')
							.form-group.col-lg-4
								label.control-label(for='phone') Teléfono
								input#phone.form-control(type='phone', name='phone')
							.clearfix
							.form-group.col-lg-12.required
								label.control-label(for='message') Mensaje*
								textarea#message.form-control(rows='6', name='message')
							.form-group.col-lg-12
								button.btn.btn-default(type='submit') Enviar
				.col-sm-4
					h3 El gorrión de París
					p
						i.fa.fa-phone
						| &nbsp;4831-7537
					p
						i.fa.fa-envelope-o
						| 
						a(href='mailto:hola@elgorriondeparis.com.ar') hola@elgorriondeparis.com.ar
					br
					ul.list-unstyled.list-inline.list-social-icons
						li.tooltip-social.facebook-link
							a(title='Facebook', href='https://www.facebook.com/elgorriondeparis', target='_blank')
								i.fa.fa-facebook-square.fa-2x
						li.tooltip-social.pinterest-link
							a(title='Pinterest', href='http://www.pinterest.com/elgorriondeparis/', target='_blank')
								i.fa.fa-pinterest-square.fa-2x
						li.tooltip-social.google-plus-link
							a(title='Google+', href='https://plus.google.com/116938248160540138995', target='_blank')
								i.fa.fa-google-plus-square.fa-2x
