extends base/base

block prepend title
	- title = 'Nosotras'
	- description = 'Algo para contar'

block content
	#nosotras.container
		.row
			.col-xs-2
			.col-xs-8
				h2.titulorosa Hola!
				p Somos Nadia y Silvana, dos amigas que creamos "El gorrión de París", inspiradas en la música de Edith Piaf, mate de por medio y muchas risas.
				
				br
				
				p Comenzamos nuestro proyecto queriendo agasajar a nuestra familia y amigos, haciendo algo especial para cada uno de ellos en sus momentos más importantes, esos que querés que duren para siempre.
				
				br
				
				p Cuando pensamos en festejar lo que más anhelamos es compartir, unir y contagiar de felicidad a todos los que nos rodean, por eso creemos que es importante generar momentos cálidos y personales que perduren en el tiempo. Haciendo que cada uno, de los invitados de tu fiesta, se sienta identificado con una frase, un chiste o un adorno y de esta manera dejar una huella de sensaciones en su memoria.
				
				br
				
				p Nos enfocamos en ser creativas y divertidas, sin dejar de lado el buen gusto. Ofrecemos piezas gráficas originales con actitud de excelente calidad y terminación, para diferentes tipos de eventos. Hacemos invitaciones, cartelería, ambientación del lugar, decoración de la mesa dulce. Todo con un toque distintivo que hará que tu evento sea único y memorable.
					
				br
				br
				

