extends base/base

block prepend title
	- title = product.name + ' para ' + event.name
	- description = 'Mirá nuestros ' + product.name + ' para ' + event.name

block prepend metas
	- keywords = [event.name, product.name]

block content
	#product.container
		.row
			include includes/sidebar
			.col-xs-9
				#projects.row
					each project in product.items()
						.col-xs-4
							a(href=project.url)
								img(src=project.thumb())
								p= project.name