extends base/base

block prepend title
	- title = product.name + ' para ' + event.name
	- description = flatText(toText(project.desc))

block prepend metas
	- keywords = [event.name, product.name, project.name]

block content
	#project.container
		.row
			include includes/sidebar
			.photos.col-xs-5
				img#large-photo.img-responsive
				ul.pagination
					li.prev: a(href='#') «
					each url, i in project.items()
						li.item: a(href=url)= i+1
					li.next: a(href='#') »

			.col-xs-4
				h3 Modelo
				!= project.desc
