extends base/base

block prepend title
	- title = 'Servicios'
	- description = 'Esta es nuestra página de servicios'

block content
	#services.container
		.row
			.col-lg-12
				h1.page-header
					| Qué hacemos?
		.row
			.col-lg-12
				img.img-responsive(src='/img/banner-servicio.png')
		.row
			.col-md-8
				h2.page-header Tu evento lleno de cositas lindas!
				p
					| Ofrecemos propuestas frescas, originales y divertidas para tu evento: Cumpleaños - Casamientos - Cumple 15 - Bar/Bat Mitzvá - Nacimiento - Baby shower - Graduaciones.
					br
					| Además tenés la posibilidad de hacer de tu evento un fiestón! Incorporá diseño y sorprendé a todos tus invitados: Carteles / Posters / Guirnaldas (banderines - fotos) / Pinches / Banderitas / Porta cupcakes / Sobres cookies / Bolsitas / Manteles / Libro de firmas / Souvenirs / Etiquetas / Individuales / Menú / Número de mesa / Cuadritos / Señalética / Botiquín / Escenografías para fotos.
			.col-md-4
				h2.page-header Pedí tu presupuesto
				p Contanos lo que tenés pensado y te mandamos una propuesta a tu medida.
				a.btn.btn-default(href='/contactanos') Hacé click!

