extends base/base

block prepend title
	- title = 'Servicios'
	- description = 'Esta es nuestra página de servicios'

block content
	#services.container
	
			.col-md-8
				h2.titulorosa Tu evento lleno de cositas lindas!
				p
					| Ofrecemos propuestas frescas, originales y divertidas para tu evento: Cumpleaños - Casamientos - Cumple 15 - Bar/Bat Mitzvá - Nacimiento - Baby shower - Graduaciones
					br
					| Diseñamos tus invitaciones 100% personalizadas y además tenés la posibilidad de hacer de tu evento un fiestón! Incorporá diseño y sorprendé a todos tus invitados: Posters / Guirnaldas (banderines - fotos) / webSites / Candy Bar / Banderitas / Bolsitas / Manteles / Libros de firmas / Souvenirs / Etiquetas / Individuales / Menú / Números de mesas / Cuadritos / Señalética / Botiquín / Photoboth / Props y mucho...pero mucho MÁS!
					br
			.col-md-4
				

