* {
/*	list-style: none;*/
}

body {
	/*padding-top: 114px; Si topbar fija */
	padding:0;
}

/* TOPBAR */

#topbar {
	text-align: center;
	background: white;
}

	/* LOGO */

	.logo {
		width: 100px;
		padding: 10px 0;
		display: inline-block;
	}

		.logo img {
			width: inherit;
		}

	/* NAVIGATION LINKS */

	.navigation {
		margin-top: 10px;
	}

	/* SOCIAL */

	.social {
		display: inline-block;
		margin: 0 auto;
		padding: 0;
	}

		.social li {
			float: left;
			margin:0 5px;
			display: inline-block;
		}

		.facebook-link a { color: #3b5998; }
		.pinterest-link a { color: #C9161D; }
		.google-plus-link a { color: #d14836; }
		.linkedin-link a { color: #007fb1; }
		.twitter-link a { color: #39a9e0; }

/* SIDEBAR */

.list-group-item {
	border: none;
}

.list-group-item.selected > a {
	font-weight: bold;
}


/* UTILS */

.rounded {
	border-radius: 100%;
	-webkit-border-radius: 100%;
}


/* FOOTER */
#footer {
	background-color: #737373;
	color: white;
	padding: 20px 0;
	margin: 0;
}


/* HOME */

#home {}

	#home .title {
		width: 100%;
		text-align: center;
		margin: 40px 0;
	}

.logos { }

	.logos li {
		margin-bottom: 20px;
		text-align: center;
		list-style: none;
	}
	
		.logos img {
			margin-bottom: 10px;
		}

/* PRODUCT */

#product {}

	#projects {
	}

		#projects img {
			max-width: 100%;
		}

		#projects p {
			width: 100%;
			text-align: center;
		}

/* PROJECT */

#project {}
	
	#project .photos {
		text-align: center;
	}