extends ../base/base

block prepend title
	- title = '404'
	- description = ''

block indexing
	+meta('robots', 'noindex, nofollow')

block content
	.container
		.row
			.col-lg-12
				p.lead Lo sentimos la pagina solicitada no existe
				p
					a(href='javascript:history.back()') Volver
